<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="collab.ifc.rules.Rules" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:collab.ifc.rules.Rules" id="collab.ifc.rules.Rules"/>
  </extension>
</plugin>
