<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ifc.demo"
         point="org.mondo.collaboration.security.lens.uniqueIDSchemeFactory">
      <id-scheme
            scheme-factory-class="org.mondo.ifc.cstudy.metamodel.IFCUniqueIdSchemeFactory">
      </id-scheme>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.bimserver.models.ifc2x3tc1.impl.Ifc2x3tc1PackageImpl"
            genModel="model/ifc2x3tc1.genmodel"
            uri="http://buildingsmart.ifc2x3tc1.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.mondo.ifc.cstudy.metamodel.IFCResourceFactory"
            type="ifc">
      </parser>
   </extension>
</plugin>
